
@{
    ViewBag.Title = "LoadHotelData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>LoadHotelData</h2>

<p>
    here we will load the data from certain folder. 
    send request to api service so it executes the package that loads the data.
</p>