
@{
    ViewBag.Title = "Reporting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reporting</h2>

<p>
    show report data from view in database using rdlc reports. we need to add report viewer here to be able to show the reports.
</p>